<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PF 2016</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_tag 'app' %>
  <%= javascript_tag 'app' %>
</head>
<body>

<div class="page"><div id="container"></div></div>

</body>
</html>